*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Navbar */

nav{
    position: fixed;
    display: inline-block;
    margin: 1% 0 0 94%;
}

button{
    border: 1px white;
    border-radius: 50%;

}

/* First promo banner */

.red{
    background-color: red;
    height: 100vh;
    text-align: center;
}

#diff{
    margin-top: 10%;
}

/* Second promo banner */

.green{
    background-color: green;
    height: 100vh;
    text-align: center;
}

/* Third promo banner */

#tom{
    margin-top: 10%;
}

.yellow{
    background: yellow;
    height: 100vh;
    text-align: center;
}

#conv{
    margin-top: 10%;
}

/* Text */

h1{
    color: yellow;
}

#green_text{
    color: green;
