*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik Mono One', sans-serif;
}

.red{
    background-color: red;
    height: 100vh;
    text-align: center;
}

#diff{
    margin-top: 10%;
}

.green{
    background-color: green;
    height: 100vh;
    text-align: center;
}

#tom{
    margin-top: 10%;
}

.yellow{
    background: yellow;
    height: 100vh;
    text-align: center;
}

#conv{
    margin-top: 10%;
}

h1{
    color: yellow;
}

#green_text{
    color: green;
