*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Navbar */

nav{
    position: fixed;
    display: inline-block;
    margin: 1% 0 0 90%;
}

button{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border: 1px white;
    border-radius: 50%;

}

/* First promo banner */

.red{
    background-color: red;
    height: 100vh;
    text-align: center;
}

/* Second promo banner */

.green{
    background-color: green;
    height: 100vh;
    text-align: center;
}

/* Third promo banner */

.yellow{
    background: yellow;
    height: 100vh;
    text-align: center;
}

/* Shoes */

.shoes{
    margin-top: 10%;
}

/* Text */

h1{
    font-size: 300%; 
    color: yellow;
}

#green_text{
    color: green;